

body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-image: url('../Images/two-young-women-looking-at-each-other.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eeeced; /* Fills any empty space left around the image */
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5)
}

header ,footer {
    background-color: rgba(255, 255, 255, 0.4); /* White background with 70% opacity */
    color: #743434;
    text-align: center;
    padding: 1em;
    position: relative; /* Make sure content inside is positioned relative */
}

nav {
    background-color: rgba(255, 255, 255, 0.4); /* White background with 70% opacity */
    color: #743434;
    color: white;
    padding: 0.5em;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #581547;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #753a5d;
}